.floors {
  display: flex;
}

.floor {
  cursor: pointer;
  display: block;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.floor-1 {
  background: url('../../../assets/floor-1-preview.jpeg') top center;
  background-size: cover;
}

.floor-2 {
  background: url('../../../assets/floor-2-preview.jpeg') top center;
  background-size: cover;
}

.floor-3 {
  background: url('../../../assets/floor-3-preview.jpeg') top center;
  background-size: cover;
}

.active:after {
  background: url('../../../assets/choosen-layer.png') top center;
  background-size: cover;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
}


.default:after {
  background: url('../../../assets/choosen-layer.png') top center;
  background-size: cover;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
}

