.floor-content {
  width: 600px;
  height: 400px;


}

.red {
  background: url('../../../assets/floor-1.png') top center;
  background-size: cover;
}

.yellow {
  background: url('../../../assets/floor-2.png') top center;
  background-size: cover;
}

.brown {
  background: url('../../../assets/floor-3.png') top center;
  background-size: cover;
}
