.floor-content {
  width: 600px;
  height: 400px;


}

.floor-1 {
  background: url('../../../assets/floor-1.png') top center;
  background-size: cover;
}

.floor-2 {
  background: url('../../../assets/floor-2.png') top center;
  background-size: cover;
}

.floor-3 {
  background: url('../../../assets/floor-3.png') top center;
  background-size: cover;
}
